.add-user {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.add-user label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.add-user input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.add-user input:focus {
  outline: none;
  border-color: purple;
}

.error__username,
.error__age {
  border-color: crimson !important;
}
