button {
  width: max-content;
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  font-size: large;
  background-color: purple;
}

button:hover,
button:active {
  background-color: darkmagenta;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
